# Supabase
VITE_SUPABASE_URL=https://uxbkgoffmypxzkrdlibd.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV4Ymtnb2ZmbXlweHprcmRsaWJkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQ1NjQ3MDUsImV4cCI6MjEwMDE0MDcwNX0.LQ2w6xwce6JkVjqYPyboL2O4dB3SFhBD2FAm9SaSuhE

# Configurações da locadora
VITE_MAX_BOOKS_PER_RENTAL=3
VITE_RENTAL_DAYS=14
VITE_DAILY_FINE=2.00
